<ng-container *ngIf="true">
    <div class="cart-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>S.no</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="false">
<div class="container">
    <div class="card">
        <h4>My Cart</h4>
    </div>
    <div class="center">
        <img  src="assets\images\empty_cart.png" alt="">
        <h5>Cart is empty!</h5>
        <p>Add items to cart </p>
        <button class="btn btn-primary">shop now </button>
    </div>
</div>
</ng-container>