 <header class="container-fluid bg-primary-subtle">
    <div class="container navbar navbar-dark  mx-3">
        <div class="navbar-brand align-item-center d-flex">
            <a   [routerLink]="['/products']" class="navbar-brand" >
                <img src="assets\images\shippingicon.png" class="responsive" alt="icon">&nbsp;
                <strong style="font-size:30px;">EKart</strong>
            </a>
                
                <!-- <div class="input-group-prepend">
                    <span>
                        <img src="assets\images\download.png" class="search-icon" alt="search">
                    </span>
                </div> -->
                <input type="text" class="form-control" placeholder="search products">
            
        
        </div>
        <a  [routerLink]="['/cart']" class="btn btn-outline-info p-2">
            <img src="assets\images\shopping-cart.png"   alt="cart">
            <span style="font-size: 9px;"class="badge bg-danger">7</span>
        </a>
    </div>
</header>
 