<div>
    <div>
        <header>
            <div class="navbar " style="background-color:#FEBD69;position: fixed;width:100%;z-index: 1;top: 0;left:0;">
                <div class="navbar-brand align-item-center d-flex">
                    <img style=" text-align: center;
                height: 50px;
                width: 50px;" src="assets\images\shippingicon.png" class="responsive" alt="icon">&nbsp;
                    <strong routerLink="/products" style="font-size:30px;">EKart</strong>
                </div>
                <div class="d-flex">
                    <button class="btn btn-primary" routerLink="/login">Login</button>
                </div>
                <!-- <form class="d-flex">
                <button class="btn btn-danger" routerLink="/addProduct">Add Product</button>&nbsp;
                <button class="btn btn-primary" routerLink="/products">Buy Product</button>&nbsp;
            </form> -->
            </div>
        </header>
    </div>
    <div class="" style="margin-left:10px">
        <img style="height:auto;max-width: 100%;" src="assets\images\home.jpg" alt="home">
    </div>
</div>